<div class="container">
  <h1 class="center">ゲンキノモト。トップページ(仮)</h1>
  <p></p>
  <p class="center">只今製作中です!!!</p>

  <table>
    <tbody>
      <th>
        <tr>
          <td class="round-square-top round-square-top-1">
            <%= link_to '予約ページ(仮)', '#' %>
          </td>
          <td class="round-square-top round-square-top-2">
            <%= link_to '従業員専用ページ(仮)', '#' %>
          </td>
          <td class="round-square-top round-square-top-3">
            <%= link_to '商品販売ページ(仮)', items_path %>
          </td>
        </tr>
      </th>
    </tbody>
  </table>
</div>