<h1 class="test">予約画面(ユーザー画面)</h1>

<div class="mt-4">
  <%= link_to "予約申込", new_reservation_path, remote: true, class: "btn btn-primary" %>
</div>

<div id="calendar"></div>
<div id="new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= javascript_pack_tag 'calendar/reservation' %>
