<%= link_to 'ホーム', root_url, class: "link-gray" %>
＞
<%= link_to '商品一覧', items_path, class: "link-gray" %>

<div class="container">
  <div class="center">
  <h1>新規商品の登録</h1>
    <%= render 'form' %>
  </div>
</div>


