<footer class="footer center">
  <div>
    <small>2021 ゲンキノモト。 Genkinomoto Body Care Laboratory, All Rights Reserved</small><br>
    <small>Created by Oshima, Nakagawa, and Takubo</small>
  </div>
</footer>
